<section class="headline">
  
  <h1>I'm a blue headline</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>

</section>



<% @vehicles.each do |vehicle| %>
  <div>
    <h1><%= vehicle.name %></h1>
    <br />
    <p><%= vehicle.description %></p>
    <br />
  </div>


  <hr />
  <% end %>
